@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.menu-section {
    background-color: #373c3f;
    width: 100%;
    height: 37px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-section__button {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 37px;
    padding-left: 19px;
    display: flex;
    justify-content: space-between;
}

.button--btn-burger {
    /*display: inline-block;*/
    width: 44px;
    height: 37px;
    background-color: #202529;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--btn-burger span {
    display: inline-block;
    height: 2px;
    width: 16px;
    background-color: #ffffff;
    position: relative;
    transition: 300ms;
}

.button--btn-burger span::after, .button--btn-burger span::before {
    content: '';
    height: 2px;
    width: 16px;
    background-color: #ffffff;
    position: absolute;
}

.button--btn-burger span::after {
    top: 4px;
    transition: 300ms;
}

.button--btn-burger span::before {
    bottom: 4px;
    transition: 300ms;
}

.button--btn-burger-active span {
    background-color: transparent;
}

.button--btn-burger-active span::after {
    transform: rotate(-45deg);
    transition: 300ms;
    top: 0;
}

.button--btn-burger-active span::before {
    transform: rotate(45deg);
    transition: 300ms;
    bottom: 0;
}

.menu-section--navigation {
    display: none;
    position: absolute;
    width: 185px;
    background-color: #fafafa;
    flex-direction: column;
    right: 0;
    z-index: 30;
}

.menu-section--link {
    color: #444444;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
    padding-left: 12px;
    background-color: #fafafa;
    border-bottom: 1px solid #e9e9e9;
    text-decoration: none;
}

.menu-section--link:hover {
    color: #ffffff;
    text-decoration: none;
}

.menu-section--show {
    display: flex;
}

.menu-section__logo {
    display: none;
}

.pizza-header__board {
    width: 100%;
    /*height: 173px;*/
    position: relative;
    margin-bottom: 1px;
}

.board--image {
    object-fit: contain;
    width: 100%;
    min-height: 173px;
}

.board--desc {
    position: absolute;
    top: 19px;
    left: 20px;
    width: 167px;
}

.board--title {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 11px;
}

.board--link {
    color: #a6d6e0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.pizza-content__price-menu {
    position: relative;
}

.pizza-content__menu-category {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pizza-content__menu-category-big {
    display: none;
}

.menu-category--item {
    display: flex;
    margin-bottom: 2px;
    position: relative;
}

.menu-category--img {
    width: 100%;
    height: 75px;
    position: relative;
    text-align: center;
}

.menu-category--img img {
    width: 250px;
    height: 75px;
    object-fit: cover;
}

.pizza {
    background-image: url("../img/product/cat1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.salads {
    background-image: url("../img/product/cat2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dessert {
    background-image: url("../img/product/cat3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-category--title {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 75px;
}

.menu-category--link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70px;
    color: white;
    background-color: #acd8ad;
}

.price-menu--title {
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 26px;
    padding-left: 10px;
}

.price-menu--desc {
    color: #cbccce;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 4px;
}

.price-menu-img {
    display: none;
}

.price-menu__food-category {
    display: flex;
    flex-direction: column;
}

.food-category--1 {
    margin-top: 10px;
}

.food-category--meet {
    background-color: #3f4043;
    height: 37px;
    color: #acd8ad;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 37px;
    padding-left: 19px;
}

.food-category--name {
    margin: 19px 18px 16px 20px;
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 25px;
    position: relative;
}

.food-category--img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.food-category--product-name {
    margin: 0 18px;
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-top: 11px;
}

.food-category--product-desc {
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    font-weight: 400;
    padding-top: 8px;
    text-align: justify;
}

.food-category--price {
    position: absolute;
    right: 0;
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.food-category--2 {
    margin-top: 29px;
}

.food-category--vegan {
    background-color: #acd8ad;
    height: 37px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 37px;
    padding-left: 19px;
}

.pizza-footer {
    margin-top: 48px;
    width: 100%;
    height: 55px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pizza-footer__copy {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.pizza-footer__logo-item, .pizza-footer--copy-big {
    display: none;
}


@media (min-width: 640px) {
    .menu-section {
        height: 74px;
    }

    .menu-section__button {
        font-size: 24px;
        line-height: 74px;
        padding-left: 38px;
    }

    .button--btn-burger {
        width: 82px;
        height: 74px;
    }

    .button--btn-burger span {
        height: 4px;
        width: 31px;
    }

    .button--btn-burger span::after, .button--btn-burger span::before {
        height: 4px;
        width: 31px;
    }

    .button--btn-burger span::after {
        top: 8px;
        transition: 300ms;
    }

    .button--btn-burger span::before {
        bottom: 8px;
        transition: 300ms;
    }

    .button--btn-burger-active span::after {
        top: 0;
    }

    .button--btn-burger-active span::before {
        bottom: 0;
    }

    .menu-section--link {
        font-size: 14px;
        line-height: 41px;
    }

    .board--desc {
        top: 30px;
        left: 38px;
        width: 376px;
    }


    .board--title {
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 22px;
    }

    .board--link {
        font-size: 24px;
    }

    .menu-category--link {
        flex-basis: 142px;
    }

    .menu-category--img {
        width: 100%;
        height: 150px;
    }

    .menu-category--title {
        font-size: 36px;
        line-height: 150px;
    }

    .menu-category--link i {
        font-size: 20px;
    }

    .price-menu--title {
        padding-left: 15px;
        font-size: 40px;
    }

    .price-menu--desc {
        padding-left: 15px;
        fomenu-section__logont-size: 20px;
    }

    .food-category--1 {
        margin-top: 20px;
    }

    .food-category--meet {
        height: 75px;
        font-size: 40px;
        padding-left: 35px;
        line-height: 75px;
    }

    .food-category--name {
        font-size: 30px;
        margin: 38px 35px 35px 35px;
    }

    .food-category--product-name {
        font-size: 27px;
        margin: 16px 35px 0;
    }

    .food-category--price {
        font-size: 27px;
    }

    .food-category--product-desc {
        font-size: 18px;
    }

    .food-category--vegan {
        height: 75px;
        font-size: 40px;
        padding-left: 35px;
        line-height: 75px;
    }

    .pizza-footer__copy {
        font-size: 18px;
        line-height: 26px;
    }

    .pizza-footer {

        height: 97px;
        margin-top: 117px;
    }
}

@media (min-width: 980px) {
    .menu-section__button {
        display: none;
    }

    .menu-section {
        height: 97px;
    }

    .menu-section--navigation {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        background: transparent;
        font-family: 'Montserrat', sans-serif;
        padding-left: 30px;
    }

    .menu-section--link {
        background-color: transparent;
        border-bottom:none;
        color: #ebebeb;
        font-size: 15px;
        text-transform: uppercase;
        padding-right: 32px;
        padding-left: 0;
    }

    .menu-section__logo {
        padding-right: 30px;
        display: block;
    }

    .board--desc {
        width: 565px;
        top: 64px;
        left: 30px;
    }

    .board--title {
        font-size: 54px;
        line-height: 64px;
        padding-bottom: 57px;
    }

    .board--link {
        font-size: 34px;
    }

    .pizza-content__menu-category {
        display: none;
    }

    .pizza-content__menu-category-big {
        display: flex;
    }

    .menu-category-big__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 327px;
    }

    .pizza-big {
        background-image: url("../img/product/menucat1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .salads-big {
        background-image: url("../img/product/menucat2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dessert-big {
        background-image: url("../img/product/menucat3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu-category--title {
        font-size: 38px;
    }

    .price-menu__food-category {
        flex-direction: row;
    }

    .price-menu--title {
        font-size: 34px;
        padding-left: 31px;
        margin-top: 72px;
    }

    .price-menu--desc {
        padding-left: 31px;
    }

    .price-menu-img {
        position: absolute;
        top: -25px;
        right: 30px;
        display: block;
    }

    .food-category--2 {
        margin-top: 20px;
    }

    .food-category--meet {
        font-size: 34px;
        padding-left: 18px;
    }

    .food-category--vegan {
        font-size: 34px;
        padding-left: 18px;
    }

    .food-category--name {
        margin: 40px 15px 40px 20px;
        font-size: 24px;
    }

    .food-category--img {
        width: 42px;
        height: 42px;
    }

    .food-category--product-name {
        margin: 28px 13px 0 18px;
        font-size: 24px;
    }

    .food-category--product-desc {
        font-size: 16px;
    }

    .food-category--price {
        font-size: 24px;
    }

    .pizza-footer {
        margin-top: 84px;
    }

    .pizza-footer__copy {
        display: none;
    }

    .pizza-footer {
        flex-direction: row;
        justify-content: space-between;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        padding: 0 30px;
    }

    .pizza-footer__logo-item, .pizza-footer--copy-big {
        display: block;
    }
}

@media (min-width: 1200px) {
    .board--title {
        font-size: 62px;
        width: 650px;
        line-height: 64px;
    }

    .board--desc {
        top: 58px;
        left: 57px;
    }

    .board--link {
        font-size: 38px;
    }

    .menu-category-big__item {
        width: 100%;
        height: 400px;
    }

    .menu-category--title {
        font-size: 43px;
    }

    .price-menu--title {
        margin-top: 77px;
        padding-left: 22px;
        font-size: 40px;
    }

    .price-menu--desc {
        padding-left: 22px;
    }

    .food-category--meet, food-category--vegan {
        font-size: 40px;
    }

    .food-category--name {
        font-size: 30px;
        margin: 38px 2px 42px 25px;
    }

    .food-category--product-name {
        margin: 22px 2px 16px 22px;
    }

    .pizza-footer {
        margin-top: 128px
    }

    .pizza-footer--copy-big {
        font-size: 18px;
    }

}
